@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'Press Start 2P', sans-serif;
}

.score-counter {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #00FF00;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: black;
    padding: 40px;
    border: #00d300 5px solid;
    border-radius: 20px;
    text-align: center;
    color: #00FF00;
    font-family: 'Press Start 2P';
    position: relative;
}

.modal-button {
    background-color: #00FF00;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-family: 'Press Start 2P';
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #00d300;
}

.back-home2 {
    position: absolute;
    top: 5%;
    left: 2%;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

canvas {
    background: black;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    z-index: -1;
}

.container-terminal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.terminal {
    width: 100%;
    max-width: 900px;
    background-color: black;
    border: #00d300 5px solid;
    padding: 20px;
    text-align: center;
    color: #00d300;
    word-wrap: break-word; 
}

.pergunta {
    font-size: 1.3em;
    line-height: 1.5;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 900px;
    padding: 10px;
}

.box {
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    color: #00d300;
    background-color: black;
    border: #00d300 2px solid;
    transition: transform 0.3s ease-in-out;
}

.answer {
    margin: 0;
    font-size: 1em;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
}

.box:hover {
    color: black;
    background-color: #00d300;
    transform: scale(1.1);
}

.box.correct {
    background-color: green;
    color: white;
}

.box.incorrect {
    background-color: red;
    color: white;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
    .back-home2 {
        top: 1%;
    }

    .terminal {
        width: 90%;
        padding: 10px;
    }

    .pergunta {
        font-size: 1em;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .box {
        padding: 10px;
    }

    .answer {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 768px) {
    .terminal {
        width: 90%;
        padding: 10px;
    }

    .pergunta {
        font-size: 1em;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .box {
        padding: 10px;
    }

    .answer {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 425px) {
    .terminal {
        width: 90%;
        padding: 5px;
    }

    .pergunta {
        font-size: 0.8em;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .box {
        padding: 5px;
    }

    .answer {
        font-size: 0.7em;
    }
}